header{
  padding: 20px;
  border-radius: 12px;
  box-shadow: 6px 6px 6px 6px lightgray;
  margin: auto;
  margin-bottom: 90px;
  width: 95%;
  background:  #FBEAEB;
  color: gray;
  text-align: right;
  font-size: larger;

  
}

a{
      color: gray;
      font-style: normal;
      margin-right: 90px;
      text-decoration: none;
      text-align: right;
}
