body{
    background: white;
    overflow-y: scroll;
}

a{
      color: gray;
      font-style: normal;
      margin-right: 90px;
      text-decoration: none;
      text-align: right;
}

header{
  padding: 20px;
  border-radius: 12px;
  box-shadow: 6px 6px 6px 6px lightgray;
  margin: auto;
  margin-bottom: 90px;
  width: 95%;
  background:  #FBEAEB;
  color: gray;
  text-align: right;
  font-size: larger;

  
}

p{
  text-align: center;
  text-decoration: solid;
  font-size: 19px;
}



legend{
  font-size: 25px;
}

#submit{
 width: 35%;
 padding: 4px;
 border-radius: 50px;
 border-color: gray;
 background-color:  #FBEAEB;
 color:black;

}

#email-f-p{
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    width: 55%;
}


.e-container{
  width: 40%;
  text-align: center;
  padding-left: 30%;
  height: 40%;

}


#c-link{
  color: #efaaae;
padding-left: 23%;
}

#c-link:hover{
  text-decoration: underline;
}
