body{
    background: white;
}

header{
  padding: 20px;
  border-radius: 12px;
  box-shadow: 6px 6px 6px 6px lightgray;
  margin: auto;
  margin-bottom: 90px;
  width: 95%;
  background:  #FBEAEB;
  color: gray;
  text-align: right;
  font-size: larger;

  
}

a{
      color: gray;
      font-style: normal;
      margin-right: 90px;
      text-decoration: none;
      text-align: right;
}

p{
    text-align: center;
    text-decoration: solid;
    font-size: 19px;
}

#log-in{
  text-align: center;
  width: 40%;
  height: 40%;

}

.container{
  padding-left: 35%;
  
  
}

legend{
  font-size: 25px;
}

#password, #username{
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
}

#submit, #loginBtn{
 width: 40%;
 padding: 6px;
 border-radius: 50px;
 border-color: gray;
 background-color:  #FBEAEB;
 color:black;




}
