header {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 6px 6px 6px 6px lightgray;
    margin: auto;
    margin-bottom: 90px;
    width: 95%;
    background: #FBEAEB;
    color: gray;
    text-align: right;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    /* height: 60px; */
    line-height: 20px;
}

a {
    color: gray;
    font-style: normal;
    margin-right: 90px;
    text-decoration: none;
    text-align: right;
}

.settings-container {
    max-width: 600px;
    margin: 40px auto;
    margin-top: 10%;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.settings-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.settings-container section {
    margin-bottom: 30px;
}

.settings-container label {
    display: block;
    margin: 10px 0 5px;
}

.settings-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 15px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-buttons button[type="submit"] {
    background: lightpink;
    color: white;
}

.form-buttons button[type="button"] {
    background: #ccc;
}

.profile-photo {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 100px;
    margin-left: 200px;

}

.profilephoto {
    display: block;
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 90px;
}

.password-settings {
    margin-top: 70px;
}

h3 {
    margin-left: 160%;
    margin-top: -8%;
    height: auto;
    width: 100%;
}